<!--<div class="current-topic">Current topic is #{{topic}}</div>-->
<div class="current-topic"></div>
 


<button ng-hide="loading" class="button small round expand" ng-click="reload()">
	<i class="fa fa-refresh"></i>
	Refresh
</button>
<label class="loader" ng-show="loading && !showError">Loading...</label>

<div ng-show="showError" class="alert-box alert">
	Error loading new posts.
</div>

<!-- <dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#/">Twitter</a></dd>
  <dd><a href="#/">Facebook</a></dd>
  <dd><a href="#/">Instagram</a></dd>
</dl> -->



<div class="stream">
	<ss-post ng-repeat="post in posts | filterPosts:visiblePosts | orderBy: 'updated_at':true"></ss-post>
	<div class="stream-empty">
		


	</div>
</div>

